/*------------------
Google Fonts Add
------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*--------
Common CSS
---------*/
body{
    font-family: 'Poppins', sans-serif;
}


/*---------------------------
Header Title and Banner Start
---------------------------*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 677px;
    background-color: skyblue;
}

.header-title{
    width: 485px;
    height: 230px;
    font-size: 64px;
    font-weight: 700;
    color: white;
}

.title button{
    background-color:#E02C6D;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 24px;
}

.banner img{
    width: 556px;
    height: 438px;
}